[project]
name = "1tbtestsinglenode"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "boto3>=1.34.0",
    "polars>=1.36.1",
    "pyarrow>=22.0.0",
]
